url ( http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900 );
@import  url ( http://fonts.googleapis.com/css?family=Clicker+Script );

/ * ////////// GLOBAL ////////// * /

h3 {
 Margen : 0  0  10 px ;
}

p {
 font-size : 1 em ; / * 16px,? Pt, 100%, 1 em * /
 line-height : 1.5 em ;
}

la figura {
 Margen : 0  0  10 px ;
}

figcaption {
 fuente : normal de  0.75 em / 1,5 em  ' Elsie Swash Caps ' , cursiva;
 de color : # 777 ;
 text-align : la derecha ;
}

.milk-text {
 fuente : negrita  2,6 em  ' Elsie Swash Caps ' , cursiva;
 Color : blanco ;
 text-shadow : 0  2 px  3 px  # 000 ;
}

.shadow {
 box-shadow : 0  3 px  10 px  # 333 ;
}

.border derecha {
 border-right : 1 px  salpicado  #ccc ;
 padding-right : 30 px ;
}


/ * FONDOS ////////// ////////// * /

.white de madera {
 fondo : url ( ../images/white-wood.jpg ) no-repeat  centro de  la parte superior ;
 fondo de tamaño : la cubierta ;
}

.Light-fade {
 fondo : #efefef ; / * Los navegadores antiguos * /
 fondo : -moz-linear-gradiente ( parte superior ,   #efefef  0 % , #ffffff  24 % , #ffffff  68 % , #dddddd  100 % ); / * FF3.6 + * /
 fondo : -webkit-degradado ( lineal , izquierda  superior , izquierda  inferior , de color-parada ( 0 % , #efefef ), el color de ventanilla ( 24 % , #ffffff ), el color de ventanilla ( 68 % , #ffffff ), color- detener ( 100 % , #dddddd )); / * Chrome, Safari4 + * /
 fondo : -webkit-lineal de gradiente ( parte superior ,   #efefef  0 % , #ffffff  24 % , #ffffff  68 % , #dddddd  100 % ); / * Chrome10 +, Safari5.1 + * /
 fondo : -o-lineal de gradiente ( parte superior ,   #efefef  0 % , #ffffff  24 % , #ffffff  68 % , #dddddd  100 % ); / * Opera 11.10+ * /
 fondo : -ms lineal en gradiente ( parte superior ,   #efefef  0 % , #ffffff  24 % , #ffffff  68 % , #dddddd  100 % ); / * IE10 + * /
 fondo : lineal gradiente ( de  fondo ,   #efefef  0 % , #ffffff  24 % , #ffffff  68 % , #dddddd  100 % ); / * W3C * /
 Filtro : progid: DXImageTransform.Microsoft.gradient (startColorstr = ' #efefef ' , endColorstr = ' #dddddd ' , GradientType = 0 ); / * IE6-9 * /
}

.medium-fade {
 fondo : rgb ( 229 , 229 , 229 ); / * Los navegadores antiguos * /
 fondo : -moz-lineal-gradiente ( parte superior ,   RGBA ( 229 , 229 , 229 , 1 ) 0 % , RGBA ( 255 , 255 , 255 , 1 ) 99 % ); / * FF3.6 + * /
 fondo : -webkit-gradiente ( lineal , izquierda  superior , izquierda  inferior , de color-stop ( 0 % , RGBA ( 229 , 229 , 229 , 1 )), el color de ventanilla ( 99 % , RGBA ( 255 , 255 , 255 , 1 ))); / * Chrome, Safari4 + * /
 fondo : -webkit lineal en gradiente ( parte superior ,   RGBA ( 229 , 229 , 229 , 1 ) 0 % , RGBA ( 255 , 255 , 255 , 1 ) 99 % ); / * Chrome10 +, Safari5.1 + * /
 fondo : -o-lineal-gradiente ( parte superior ,   RGBA ( 229 , 229 , 229 , 1 ) 0 % , RGBA ( 255 , 255 , 255 , 1 ) 99 % ); / * Opera 11.10+ * /
 fondo : -ms-lineal-gradiente ( parte superior ,   RGBA ( 229 , 229 , 229 , 1 ) 0 % , RGBA ( 255 , 255 , 255 , 1 ) 99 % ); / * IE10 + * /
 fondo : lineal en gradiente de ( a  parte inferior ,   RGBA ( 229 , 229 , 229 , 1 ) 0 % , RGBA ( 255 , 255 , 255 , 1 ) 99 % ); / * W3C * /
}

/ * /////// MEDIA //////// * /

img , vídeo , audio , iframe , tabla , forma {
 ancho : 100 % ; / * IE * /
 de ancho máximo : 100 % ; / * FF, Safari, Chrome * /
}

/ * FIXES ////////// ////////// * /

* {
 webkit-box-dimensionamiento : frontera-box ;
 -moz-box-dimensionamiento : frontera-box ;
 cuadro de dimensionamiento : frontera-box ;
}

.clearfix : después de {
 contenido : " . " ;
 pantalla : bloque ;
 claro : ambos ;
 visibility: hidden;
 height: 0;
 line-height: 0;
}

.clear {
 clear:both;
}

/*/////// LAYOUT ////////*/

.wrapper {
 width: 960px;
 margin: 0 auto;
}

.col-1 {
 float: left;
 width: 32%;
}

.col-2 {
 float: left;
 width: 66%;
}

.col-3 {

}

[class*="col-"] {
 margin-left: 2%;
}

.first {
 margin-left: 0%;
}

/*/////// SOCIAL ////////*/

#social {
 position: fixed;
 top: 185px;
 right: 20px;
 width: 40px;
 z-index: 1;
}

#social a {
 display: block;
 width: 40px;
 height: 40px;
 background: yellow;
}

/*////////// HEADER //////////*/

header {
 margin: 0 0 30px;
}

/*////////// NAVBAR //////////*/

#navbar {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 2;
 border-bottom: 1px solid #ccc;
 text-align: center;
}

#navbar nav {
 border-left: 1px solid #ccc;
}

#navbar nav a {
 display: inline-block;
 width: 16.6666667%;
 margin: 0;
 padding: 22px 0;
 text-transform: uppercase;
 color: black;
 text-align: center;
 border-right: 1px solid #ccc;
 text-decoration: none;
 font: 1em "Trebuchet MS", Arial, sans-serif;
}

#navbar nav a.selected {
 background: #333;
 color: white;
}

#navbar nav a:hover {
 color: white;
 background: rgb(0,0,0); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(71,71,71,1) 28%, rgba(81,81,81,1) 35%, rgba(71,71,71,1) 72%, rgba(43,43,43,1) 87%, rgba(28,28,28,1) 91%, rgba(0,0,0,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(28%,rgba(71,71,71,1)), color-stop(35%,rgba(81,81,81,1)), color-stop(72%,rgba(71,71,71,1)), color-stop(87%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* IE10+ */
 background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* W3C */
}

/*////////// LOGO //////////*/

#logo {
 padding: 84px 0 0;
}

#logo h1 {
 font-family: 'Clicker Script', cursive;
 margin: 0;
}

#logo h2 {
 font-family: 'Elsie Swash Caps', cursive;
 margin: 0;
}

/*////////// MAIN SECTIONS //////////*/

section {
 padding: 30px;
 margin-bottom: 20px;
 background: white;
}

/*////////// DETAILS //////////*/

#details {
 border-top: 1px solid white;
}

#details div {
 height: 221px;
}

#details a:link, #details a:visited {
 color: black;
 text-decoration: none;
}

#details a:hover {
 color: black;
 text-decoration: underline;
}

#details a:active {
 color: red;
}

/*////////// FOOTER //////////*/

footer {
 text-align: center;
 font-size: 0.75em;
 padding: 10px;
 background: #eee;
 border-top: 1px solid;
}
